h1{ text-align: center; margin-bottom: 50px;}
#balloon-map{
    width: 224px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}
.balloon {
    position: relative;
    flex-grow: 1;
    width: 50px;
    margin: 3px;
    background: rgb(20,189,34);
    opacity: .9;
    border-radius: 50%;
    height: 50px;
    cursor: pointer; 
    animation: float 6s ease-in-out infinite;
}
.balloon:after {
    position: absolute;
    background: inherit;
    bottom: -5px;
    left: 18px;
    display: block;
    content: '';
    height: 10px;
    width: 3px;
    border-radius: 100%;
}
.balloon:hover{ animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both; }
.balloon.popped { visibility: hidden; }
.balloon.popped:after { visibility: hidden; }



/* ANIMATIONS */
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }